* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    360deg,
    rgb(145, 241, 66) 0%,
    rgb(240, 232, 120) 100%
  );
  background-repeat: no-repeat;
}

.mt-10 {
  font-size: 10px;
}

.mg-16 {
  margin: 16px 0;
}

.web {
  height: 100%;
  background: rgb(233, 169, 161);
  background: linear-gradient(
    360deg,
    rgb(145, 241, 66) 0%,
    rgb(240, 232, 120) 100%
  );
  background-repeat: no-repeat;
  /* background: rgba(241, 132, 132, 0.753); */
  display: flex;
}
.nav-left {
  width: 20%;
  height: 1000px;
  box-shadow: 0 0px 15px rgb(161, 159, 159);
  position: fixed;
  left: 0;
  background: linear-gradient(
    360deg,
    rgb(145, 241, 66) 0%,                                                                      b
    rgb(240, 232, 120) 100%
  );
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}
.navbar {
}
.logo-image {
  width: 80%;
  margin-left: 20px;
}

#menu-boss {
}

.menu_box {
  list-style: none;
  border-bottom: 1px solid rgb(163, 162, 162);
}
.btn-playlist,
.menu-item {
  font-size: 20px;
  padding: 9px 20px;
}
.btn-playlist:hover,
.menu-item:hover {
  background-color: rgb(250, 245, 235);
}
.menu-box2 {
  list-style: none;
  border-bottom: 1px solid rgb(163, 162, 162);
}

.menu-link {
  text-decoration: none;
  color: #000;
}
.sub-icon {
}

.btn-playlist {
  font-weight: 550;
  width: 100%;
  border: none;
  background-color: transparent;
  position: relative;
  left: 0;
  padding: 16px 90px 16px 20px;
}

.body-mid {
  width: 60%;
}
.under-left {
  width: 20%;
}

.under-right {
  width: 20%;
}

/* .under-top {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background: #000;
} */

.sub-container {
  width: 100%;
  /* height: 100%; */
  margin-left: 25px;
  border-right: 1px solid rgba(182, 182, 182, 0.644);
  position: relative;
}
.sub-menu{
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: rgb(141, 139, 31);
  
}

.sub-box > li{
  list-style: none;
  /* margin-left: 12px; */
  position: relative;
}

.sub-box > li > a{
  color: #fff;
  text-decoration: none;
  margin: 0 18px;
  line-height: 75px;
  font-size: 20px;
  font-weight: bold;
}

.sub-item:hover{
  background-color: rgba(240, 120, 120, 0.637);
  border-radius: 13px;

} 

.sub-box > li:hover .section-menu{
  display: block;
  position: absolute;
  animation: slide 0.6s;
}

.sub-box{
  margin-left: -23px;
  /* margin-right: -25px; */
  width: 102%;
  height: 75px;
  background-color: rgb(141, 139, 31);
  display: flex;
  /* justify-content: space-between; */
}
.sub-item{

}

.section-menu{
  background-color: rgb(141, 139, 31);
  display: none;
  
}

.section-menu > li{
  list-style: none;
  min-width: 200px;
  
}

.section-menu > li > a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  line-height:35px;
  padding: 0 10px 0 30px;

}

.section-menu > li:hover > a:hover{
  background-color: rgba(240, 120, 120, 0.637);
  display: block;
  border-radius: 13px;
  padding: 0 10px 0 30px;Z
}

@keyframes slide {
  from {
    height: 1px;
  }
  to {
    height: 141px;
  }
}


.search-btn{
  
}
.search1{

}
.fas{

}
.fa-search{

}
.fas.fa-search{

}




.subtitle {
  word-wrap: break-word;
  text-align: center;
  text-transform: capitalize;
  opacity: 0.6;
  min-height: 40px;
}

.search-btn {
  position: absolute;
  right: 50px;
  top: 21px;
}
.fas {
}
.fa-search {
}
.search1 {
  padding: 0 15px;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #ccc;
}
.fas.fa-search {
  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.than-trang {
  margin-top: 100px;
}

.img-responsive{
  width: 95%;
  height:500px;
  border-radius: 20px;
  margin-left: 16px;
  margin-top: -48px;
  margin-bottom: 16px;
}
.list-container-2,
.list-container {
  margin-top: 16px;
  width: 97%;
  height: 320px;
  border-radius: 15px;
  border: 1px solid rgba(133, 133, 133, 0.801);
}
.list-container {
}
.list-container-2 {
  margin-bottom: 20px;
}

.card-album {
}

.list-group {
  position: relative;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  margin-left: 16px;
  /* width: calc(25% -30px); */
}

.list-group li {
  list-style: none;
}

.list-group li img {
  width: 128px;
  border-radius: 10px;
}

.list-group li b {
  text-align: center;
  margin: 16px 0 10px 0;
}

.playlist-card{
  text-decoration: none;
  color: #000;
}

.text-top {
  margin: 16px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.list-group-item {
  width: 150px;
}
.list-group-item b {
  max-height: 60px;
}

.enjoy-container {
  /* border: 1px solid rgb(124, 124, 124); */
  box-shadow: 0 0 15px rgba(77, 77, 77, 0.753);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #fff09e;
  min-height: 240px;
}

.enjoy-container > img {
  transform: scale(1);
  transition: 0.2s ease-in-out;
}

.enjoy-container > img:hover {
  transform: scale(1.2);
}

.list-container-2 {
}
.list-play {
}

.nav-right {
  width: 20%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  /* background-color: aqua; */
}

.list-music {
  position: fixed;
  right: 0;
  margin: 16px;
  width: 100%;
  padding: 16px;
  position: relative;
  top: 0;
  /* position: relative;
  left: 1000px;
  top:-624px */
}

.linknhac {
  text-decoration: none;
  color: #000;
}

.list-music-container > li > a ~ p {
  text-decoration: none;
}
.list-music-container {
  list-style: none;
  font-size: 16px;
}
.list-music-item:hover {
  background-color: #ffffffc2;
}
.list-music-item {
  padding: 16px;
  /* border-bottom: 1px solid rgba(161, 161, 161, 0.678); */
  position: relative;
  cursor: pointer;
}

.singer2 {
}

.singer {
  text-decoration: none;
  font-size: 11px;
  opacity: 0.6;
}

.img-items {
  width: 45px;
  border-radius: 3px;
  position: absolute;
  left: 200px;
  bottom: 12px;
}

.is-ghost:hover {
  text-decoration: underline;
}

.is-ghost {
  text-decoration: none;
  font-size: 14px;
  color: #000;
}

#footer {
  width: 70%;
  height: 100px;
  background: rgb(255, 246, 124);
  /* margin-top: 20px; */
  background-image: url(https://lh3.googleusercontent.com/proxy/9K8TNedkofAMZq3X_LSWkh2xD0hOI0JPS6OQhEzjgg0X2VXl6H9_KBy8EvhZ9CuRXieZGN19RogZjH9Kn2gDO8WyJ-I4Ty5rttaywZGoG4xSIE1826Li9KBDMFme4BsNvngtSUqevS3QgE0BLDtQDUTpbnOj0H_pKl7q1g);
}
/* .list-play img {
  width: 50px;
}

.list-play tr {
  background: linear-gradient(
    360deg,
    rgb(143, 73, 46) 0%,
    rgb(240, 134, 120) 100%
  );
}

.list-play table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
}

.list-play th {
  width: 20%;
}

.list-play td {
  padding-left: 32px;
  width: 20%;
} */

.bxh_group {
  /* background: url(https://img.ntdvn.com/2019/12/shutterstock_366462398-1.jpg), */
    rgba(47, 99, 16, 0.692);
  background-color: rgba(253, 253, 253, 0.329);
  border-radius: 15px;
  margin: 20px auto;
  width: 90%;
}

.row-menu {
  margin: 16px 0;
  width: 100%;
  border-radius: 15px;
  list-style: none;
  background-color: #ffffff;
}

.Top-music{
  
}

.content-music:hover,
.Top-music:hover {
  background-color: rgba(180, 180, 180, 0.329);
  border-radius: 15px;
}
.content-music {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: 0 auto;
  /* border-bottom: 1px solid rgb(88, 87, 87); */
}

td {
  text-align: center;
  font-weight: 600;
}

.content-music  {
  width: 100%;
  color: #000;
  /* margin: 30px 0; */
  cursor: pointer;
  position: relative;
}

.id-img{
  width: 20%;
}
.img-blog-items {
  border-radius: 10px;
  margin: 5px 6px 5px;
  width: 60px;
  height: 60px;
}
.name-music {
  width: 40%;
  text-decoration: none;
  margin: 0 auto;
  position: relative;
  top: 25px;
  /* align-items: left; */
}
.cs-names {
  width: 30%;
  text-decoration: none;
  position: relative;
  top: 25px;
}
.time-music{
  width: 10%;
  position: relative;
  top: 25px;
}

#footer {
  width: 100%;
  height: 170px;
  /* background-image: url(https://lh3.googleusercontent.com/proxy/zWBmYlY-bh3bjiiDLveRHqQXOtQjO_dgg4qahjxhNqfRwUFT8aPJ1PZ2b4bTdzpEJCHZu2B9r_H438becSEf8vD8c4j0xR7iwseNJxj2MIFb3cwydQ24L26wppdJ8581RK3KOEsUQkeCVK4zgqHndpqsjQ3VaOyAfZX_5dbF7d-4); */
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
}

.linkdc {
  display: inline-block;
  position: absolute;
  left: 80em;
  top: 32px;
}

.right-member {
  /* width: 100%; */
  height: 100%;
  /* background: #000; */
}

.right-member-box {
  display: flex;
  width: 60%;
  height: 88%;
  position: relative;
  top: 20px;
  left: 200px;
}

.img-tickets {
  /* position: absolute;
  top: 4px;
  left: 202px; */
}
.copyright {
  color: #fff;
}

.copyright2 {
  color: #fff;
}
.footer-contents {
  width: 60%;
}


.fa-brands{
  width: 48px;
  font-size: 36px;
}

.fa-brands:hover{
  color: #fff;
}

.fa-facebook{
  color: rgb(26, 95, 223);
}

.fa-google-plus{
  color: red;
}
.fa-twitter-square{
  color: rgb(32, 174, 240);
}